$backgroundColor: #eeeeee;
$sizing: 100px;
$datesGap: 1px;
$calendarBorders: 1px solid black;
$transformOnHover: translateY(-20px);
$month-days: (1, 2, 3, 4, 5, 6, 7);
$week-days: (
    mon: 1,
    tue: 2,
    wed: 3,
    thu: 4,
    fri: 5,
    sat: 6,
    sun: 7
);
